.city {
  width: 400px;
  height: auto;
  margin: 15px;
  display: block;
}

.img-rounded {
  border-radius: 10px;
}

.img-circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
}

.thumbnail {
  width: 150px;
  height: auto;
  /* border: 2px double rgb(177, 174, 174); */
  border-width: 2px;
  border-style: double;
  border-color: rgb(177, 174, 174);
}

.thumbnail:hover {
  box-shadow: 0px 0px 2px 2px rgba(55, 186, 230);
  width: 150px;
  height: auto;
}

.card{
    width: 600px;
    box-shadow: 0 0 2px 2px lightgreen;
    border: 1px solid red;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /* 10 px top-bottom 20px left-right */
    padding: 10px 20px;
    /* padding: 10px 20px 10px 20px      */
}

.card-image {
    width: 100%;
}

.card-body {
    padding: 15px;
}

.card-text {
    text-align: center;
}

.london-bg{
    height: 800px;
    background-color: aquamarine;
    background-image: url('../../img/london.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

