.cod-title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 2.5rem;

    font-weight: 700;    /*100 - 400(normal) - 700 (bold) 900 */

    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

    text-align: center;
}

.cod-text{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 1rem;  /* 1rem = 16px */
    font-weight: 400; /* Normal weight */
    line-height: 1.5; /* Line height for better readability */
    color: rgb(36, 26, 95);
}